<div class="products-container">
    {{#each products}}
    <div class="product-card">
        <h3>{{this.name}}</h3>
        <p>Price: ${{this.price}}</p>
        <img src="{{this.img}}" />
        <p>Description: {{this.category}}</p>
        <button>Add to cart</button>
    </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if pagination.hasPrevPage}}
    <a href="?page={{pagination.prevPage}}&limit={{pagination.limit}}">Previous</a>
    {{/if}}

    {{#if pagination.hasNextPage}}
    <a href="?page={{pagination.nextPage}}&limit={{pagination.limit}}">Next</a>
    {{/if}}
</div>